.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: app_header;
    background-color: green;
}

.header img {
    width: 40px;
}

.header,
.header a {
    color: white;
    text-decoration: none;
}

.logoutBtn {
    display: block;
    background: 0;
    border: 0;
    color: #a7a7ca;
    margin-left: auto;
    padding: 0;
    cursor: pointer;
}