.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas:
  "app_header app_header"
  "app_nav app_content";
  height: 100%;
}

.app-wrapper-content {
  grid-area: app_content;
  background-color: cornflowerblue;
}